.btn-outline-light {
  color: #eff1f2 !important;
  border: none !important;
  transition: all 0.3s ease;
  color: #223645 !important;
  background-color: #eff1f2 !important;

  &:hover {
    background-color: #e1e5e7 !important;
  }
}

.btn-sm {
  height: 34px;
  width: 34px;
  display: inline-flex;
}

.panel-sidebar-item {
  border-top: 1px solid #eff1f2;
  padding: 15px 4px;
}
