.ant-layout-sider.ant-layout-sider-dark.main-nav {
  flex: 0 0 100px !important;
  max-width: 100px !important;
  min-width: 100px !important;
  width: 100px !important;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.main-nav {
  flex: 0 0 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  width: 0px !important;
}
